div(ng-include='"components/navbar/navbar.html"')

main.no-sidebar
  h1 Settings


  ul
    li
      = 'Profile Image: '
      span(ng-show="!onEditProfile")
        img(ng-src="user.profileImage" alt="Profile Image")
        a(href="" ng-click="onEditProfile=true") Change
      span(ng-show="onEditProfile")
        | profile changeing...
    li ID: {{user.id}}
    li Email: {{user.email}}
    li
      = 'Name: '
      span(ng-show="!onEditName")
        = '{{user.name}} '
        a(href="" ng-click="onEditName=true") Change
      span(ng-show="onEditName")
        form(name="editNameForm" ng-submit="updateName(form)" novalidate=)
          input(type="text" ng-model="editedUser.name" name="name")
          input(type="submit" value="Save")
          button(type="button" ng-click="onEditName=false") Cancel
    li Role: {{user.role}}
    li Created At: {{user.createdAt | date:'yyyy-MM-dd hh:mm:ss'}}
    li Updated At: {{user.updatedAt | date:'yyyy-MM-dd hh:mm:ss'}}
    li: a(href="/change-password") Change Password


div.no-sidebar(ng-include='"components/footer/footer.html"')
