@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';
@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';


/**
 * App-wide Styles
 */

@sidebar-width: 180px;
@navbar-min-width: 1000px;
@navbar-min-height: 40px;

main {
  margin-top: @navbar-min-height;
  padding-left: @sidebar-width;
}

.container {
  min-width: @navbar-min-width - @sidebar-width;
}


// injector
@import 'account/forgot-password/forgot-password.less';
@import 'account/login/login.less';
@import 'account/register/register.less';
@import 'account/reset-password/reset-password.less';
@import 'admin/admin.less';
@import 'main/main.less';
@import 'menu1/menu1.less';
@import 'menu2/menu2.less';
@import 'menu3/menu3.less';
@import 'directives/datepicker/datepicker.less';
@import 'footer/footer.less';
@import 'navbar/navbar.less';
// endinjector