header(ng-controller="NavbarCtrl")
  nav.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-header
      a.navbar-brand(href="/") Site Name
    div
      ul.nav.navbar-nav.navbar-right
        li(ng-show="isLoggedIn()"): p.navbar-text Hello {{getCurrentUser().name}}
        li(ng-show="isLoggedIn()"): a(href="/settings") Settings
        li(ng-show="isLoggedIn()"): a(href="" ng-click="logout()") Logout
