header(ng-controller="SidebarCtrl")
  div.sidebar
    ul.nav.nav-sidebar
      li(ng-repeat="item in menu" ng-class="{active: isActive(item.link)}")
        a(ng-href="{{item.link}}" ng-bind="item.title")
      li(ng-repeat="item in adminMenu" ng-class="{active: isActive(item.link)}" ng-show="isAdmin()" )
        a(ng-href="{{item.link}}" ng-bind="item.title")
