div(ng-include='"components/navbar/navbar.html"')

main.no-sidebar
  h1 Change Password

  form(name="form" ng-submit="resetPassword(form)" novalidate)
    div.form-group
      label(for="prePassword") Old password
      input(name="prePassword" ng-model="prePassword" type="password" required="true" ng-minlength="6")
    div.form-group
      label(for="newPassword1") New password
      input(name="newPassword1" ng-model="newPassword1" type="password" required="true" ng-minlength="6")
    div.form-group
      label(for="newPassword2") New password again
      input(name="newPassword2" ng-model="newPassword2" type="password" required="true" validate-equals="newPassword1")

    div
      p(ng-show="(form.prePassword.$error.required || form.newPassword1.$error.required || form.newPassword2.$error.required) && submitted")
        | Email address and password are requred.
      p(ng-show="(form.prePassword.$error.minlength || form.newPassword1.$error.minlength || form.newPassword2.$error.minlength) && submitted")
        | Password should be longer than 6 charactors
      p(ng-show="form.newPassword2.$error.equal && submitted")
        | New Password again should be equal to New password
      p(ng-show="errors.other" ng-bind="errors.other")

    div
      button.btn.btn-default(type="submit") Change Password
      a.btn.btn-default(href="/settings") Cancel



  div(ng-show="finished")
    p
      = "Password is changed. Try "
      a(href="/login") Login
      = " agein."

div.no-sidebar(ng-include="'components/footer/footer.html'")